<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo">
      <img src="../../assets/logo1.jpg">
    </div>
    <a class="navbar-brand " routerLink="" >JQUORA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="about" >About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="login">Login</a>
        </li>    
      </ul>
    </div>
  </div>
</nav>


<section class="home">
  <img src="../../assets/admin.jpg">
  <div class="home1">
      <h1 style="text-align:center;">JQUORA</h1>
      <p>A place where you can share and gain knowledge</p>
  </div>
</section>
<br><br>
<section class="container content">
  <div class="nav1">
  <ul>
    <li><img src="../../assets/vicechancellor.jpg " alt="Vice-Chancellor"><p style="text-align:center;"><b>VICE-CHANCELLOR</b></p></li>
    <li><img src="../../assets/principal.jpg " alt="principal"><p style="text-align:center;"><b>PRINCIPAL</b></p></li>
    <li><img src="../../assets/viceprincipal.jpg " alt="Vice-Principal"><p style="text-align:center;"><b>VICE-PRINCIPAL</b></p></li>
  </ul>
</div>
</section>
<footer >
<p>@2022 ALL RIGHTS RESERVED FOR JNTUK</p>
</footer>